<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <h1>User List</h1>
    <% if (locals.users && users.length > 0) { %>
    <ul>
      <% users.forEach(user => { %>
        <li>
          <%= user.username %>
          <span>
            <a href="/delete/<%= user.id %>">Delete</a>
          </span>
        </li>
      <% }) %>
    </ul>
    <% } else { %>
      <p>No users found.</p>
    <% } %>
    <a href="/new">Add User</a>
    <form action="/delete" method="get" id="delete-all-users-form">
      <button type="submit" id="delete-all-users-button">Delete all users</button>
    </form>
    <form action="/" method="get" id="search-form">
      <input type="text" name="search" aria-labelledby="search-button" value="<%= searchTerm %>">
      <button type="submit" id="search-button">Search</button>
    </form>
  </body>
</html>