<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <h1>User List</h1>
    <ul>
      <% users.forEach(user => { %>
        <li>
          <%= user.username %>
          <span>
            <a href="/<%= user.id %>/delete">Delete</a>
          </span>
        </li>
      <% }) %>
    </ul>
    <a href="/new">Add User</a>
  </body>
</html>